/*EM calculator: http://riddle.pl/emcalc/
The base font for the site is 10px or x-small.  To calculate the padding, width, etc with ems, 
you have to base it off the font of that element, or the next containing element.

This page intentionally uses pixels instead of ems because we do not want the table or the images to be resized by the browser.
*/

/*
*Light green: #bacbc3
*Dark green: #84948a
*Orange: #BD8440
*
* colorpicker:
* Background/Header color/Messages/Artwork Horizontal rules: #bacbc3
* Body color/Button color/Exhibition Splash header color: #84948a
* Exhibition splash background/Tab Active Background color/Heading text colors: #fff
* Header bottom border/Active link/Sidebar Horizontal Rule: #bd8440
* Breadcrumb link color: #4B5650
* Tab Background color: #ebebeb
* Tab Hover Background color: #aaa
* Body text color: #000
*
*THESE WILL BE THE DEFAULT VALUES
*/

body, .pager, .messages, .citi-messages  {
	background-color: #bacbc3;
}
.tabs-wrapper ul li a {
	background-color: #ebebeb;
}
.tabs-wrapper ul li a.active, .tabs-wrapper ul li a:hover {
	background-color: #aaa;
}
#pagecolor, body.ntype-exhibition #header, #main, #edit-submit  {
	background-color: #84948a;
}
body.ntype-exhibition, body.ntype-exhibition #main, .tabs-wrapper ul li a.active {
	background-color: #fff;
}
/**
*FONT COLORS
**/
body, a, li.active, a:link, a:visited, #breadcrumb{
	color: #000;
}	
#breadcrumb a, #sidebar-right a {
	color: #4B5650;
}
#breadcrumb .sel {
	color: #bacbc3;
}
#sidebar-right li a.active, #main #content  .bodycopy .right, #main #content  .bodycopy .right a, .tabs-wrapper ul li a.active {
	color: #BD8440;
}
h1, h2, h3, .messages, .citi-messages, .pager, #main #content .pager-list a, #edit-submit   {
/*	color: inherit;
*/}
#main #content .bodycopy .left, #main #content .bodycopy .left a {
	color: #84948a;
}
/**
*BORDER COLORS
**/
#header {
	border-color:#bd8440;
}
#edit-submit{
	border-color: #fff;
}
#artwork-body {
		border-color: #bacbc3;
}
.tabs-wrapper ul, .tabs-wrapper ul li a {
	border-color: #999;
}


