/*EM calculator: http://riddle.pl/emcalc/
The base font for the site is 10px or x-small.  To calculate the padding, width, etc with ems, 
you have to base it off the font of that element, or the next containing element.

This page intentionally uses pixels instead of ems because we do not want the table or the images to be resized by the browser.
*/

/**
*DRUPAL EXHIBITION ARTWORK /CITI RESOURCE- OBJECT INFORMATION LAYOUT
**/
#artwork-details {
	float: left;
	clear: both;
	margin: 1.00em 1.00em 0em 0em;
}
#main #content #artwork-details p{
width: 100%;
}

#tombstone {
	padding: 0em 1.00em 1.00em 0em;
}
body.citi-resource #tombstone {
	padding: 0em;
}
body.citi-artwork h1#page-title {
display: none;
}
body.citi-artwork #artwork-image {
	float: left;
	height: auto;
	width: auto;
	display: block;
	margin: 0em 1.20em 0em 0em;
}
.artwork-content .tools {
	padding: 0em 0em 2.00em 1.00em;
	text-align: left;
}
body.citi-artwork #dept-gallery {
	padding: 2.00em 0em;
}
#artwork-body {
	clear: both;
	float: left;
	width: 65.0em;
	padding: 1.00em 0em;
	margin: 1.00em 1.00em 1.00em 0em;
	border-top-style: solid;
	border-top-width: 2px;
}
body.citi-resource #artwork-body {
	border: none;
	margin: 0em 1.00em 1.00em 0em;
}

#artwork-body p {
	padding: 0em 0em 1.50em 0em;
}
/*Resources*/
body.citi-resource #artwork-image {
	float: right;
	height: auto;
	max-width: 34.0em;
  width:auto !important;
  width: 34.0em;
}
body.citi-resource .relatedworks .relatedimage {
	display: inline;
	float: left;
	width: 11.2em;
	margin-right: .8em;
}

body.citi-resource .relatedworks {
	clear: both;
	width: 28.0em;
	margin: 1.0em 0em;
}
body.citi-resource .relatedworks li{
	clear: both;
	float: left;
	width: 28.0em;
	margin: 1.0em 0em;
}

/**
*jqModal popup
*/
.enlargement {
	float: left;
}
.enlargement img {
	float: left;
	clear: both;
}
.enlargement .banner {
	background-color: #ebebeb;
	margin: 0em 0em .40em 0em;
}
/*ie6 hack*/
* html .enlargement .banner {
	float: left;
} 

.enlargement .caption
{
	clear: both;
	padding: 5px 20px 5px 5px;
	margin-top: -25px;
	/*width: 500px;*/
	text-align: left;
}


.enlargement-copyright
{
	margin-top: 10px;
}

/*.zoomify .close a{
	color: #fff;
	float: right;
}

*/.enlargement a.jqmClose{
	display: block;
	font-weight: bold;
	text-align: right;
	padding: .5em;
}
.enlargement .close{
/*width: 100%;Adding this is bad across browsers*/
}
/*ie6 hack*/
* html .enlargement .close{
}
.enlargement .enlargement-title-date {
/*	font-style: italic;
*/}

#main #content .toolset {
	width: 50.0em;
	height: auto;
	float: left;
	margin: 0em 0em 1.0em 0em;
}

#main #content .toolset p{
	width: 50.0em;
}

#main #content .toolset h3 a{
	text-decoration: none;
	padding: 0em;
}
.toolset .view-data-field-tools-featured-img-fid, .toolset .view-data-field-press-featured-img-fid {
	float: left;
	display: block;
	width: 11.2em;
	margin: 0em 1.0em 0em 0em;
}
.toolset .view-data-title {
	float: left;
	display: block;
	width: 30.0em;
}
#main #content .toolset h3 a{
	text-decoration: underline;
	color: inherit;
}
