/* $Id: print.css,v 1.1.2.10 2007/11/29 00:50:59 johnalbin Exp $ */

/* sets all page margins on all pages */
@page {
  margin: 1cm;
}


body.citi-artwork h1#page-title {
    display: block;
}
/* underline all links */
  a:link, a:visited
  {
    text-decoration: underline !important;
  }

  /* Don't underline header */
  #site-name a:link,
  #site-name a:visited
  {
    text-decoration: none !important;
  }

/* CSS2 selector to add visible href after links */
  #content a:link:after,
  #content a:visited:after
  {
    /*content: " (" attr(href) ") ";*/
    font-size: 0.8em;
    font-weight: normal;
  }

/* Un-float the content */
  #content,
  #content-inner
  {
    float: none;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

/* Turn off any background colors or images */
  body,
  #page, #page-inner,
  #main, #main-inner,
  #content, #content-inner
  {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

/* Hide sidebars and nav elements */
  #skip-to-nav, #navbar, #sidebar-left, #sidebar-right, #footer,
  .breadcrumb, div.tabs, .links, .taxonomy,
  .book-navigation, .forum-topic-navigation, .pager, .feed-icons, #exhib-banner
  {
    visibility: hidden;
    display: none;
  }

	#header #block-block-4 /*This is only for printing purposes*/
	{
		float: right;
		padding-right: 40px;
		display: block;
	}

#sidebar-left, #sidebar-right, #footer, #header_nav, #search-box, #breadcrumb, .collection-form-wrapper, .tools,.delete_button, .tabs, #browse {
	display: none;
}
#content-wrapper
{
	background-image:url(http://www.artic.edu/aic/collections/sites/default/themes/aicexhibitionstheme/images/block-logo.png);
}
#page-title-wrapper {
	margin: 0px 10px 0px 0px;
}
#header {
	border: 0px;
	height: 3em;
}
#header-region {
	height: 3em;
}
h1, h2, h3 {
 color: #555!important;
 padding: 0;
 margin: 0;
}
h1
{
	font-size: 18pt;
	font-weight: bold;
	margin-top: 5px;
	letter-spacing: 0.04em;
    	line-height: 1.3em;
}
h2,
.teaser-title
{
	font-size: 12pt;
	
}

#main, p, #artwork-body p {
 font-size: 12px;
 width: 560px!important;
}
#main {
	padding: 0em 1.00em 0em 1.75em;
}
body.ntype-personal-collection .collection-details p
{
 width: 500px!important;
}
body.ntype-personal-collection textarea#edit-body {
color: #555!important;
font-size: 12px!important;
overflow: auto;

}
body.ntype-personal-collection .description {
display: none;}
.save_button {
	display: none;
}
body * {
background-color: #fff!important;
}
body {
  font-family: Arial,Helvetica,sans-serif;
}
img { 
display: block;
}
.teaser-box *, .column{
	clear: both;
	float: left;
	color: #555!important;
	padding-bottom: 10px;
	height: auto;
	width: auto;
}
.teaser-box p {
	background-color: #fff;
}
#teaser-bottom-left, #teaser-bottom-right, #teaser-top-right, #block-citi-search, #teaser-top-left, #block-aicevent-featured_events, #block-citi-artist_alpha {
	background-color: #fff;
	color: #555;
	clear: both;
  min-height: ;
  height: auto!important;
	min-height: auto!important;
	margin: 0em 0em;
	width: auto;
}


/*Artwork Pages*/
#artwork-image {
	clear: both;
	float: left;
	height: auto;
	width: auto;
}
#extended {
display: block;
}

/* Personal Collections */
#page #admin-menu
{
	display: none;
}
body.ntype-personal-collection #content-area
{
	width: 560px;
}
body.pc-view #content-area div.messages,
body.ntype-personal-collection #content-area div.messages
{
	background: none;
	padding: 0;
}
body.ntype-personal-collection #content-area .collection-count
{
	background: none;
	padding: 0px 10px 10px 10px;
}
body.ntype-personal-collection .pcollections
{
	padding: 5px;
}
body.ntype-personal-collection .pcollections,
body.citi-search-results .artwork-row
{
	page-break-after: always;
}
body.ntype-personal-collection textarea#edit-body
{
	padding: 0;
	margin: 0;
	font-style: italic;
}
body.ntype-personal-collection label
{
	display: block;
}
body.ntype-personal-collection .collection-details 
{
	height: auto;
}
body.ntype-personal-collection .pccollection-desc
{
	float: none;
}
body.ntype-personal-collection .order-controls,
body.ntype-personal-collection .enlargement-link,
body.citi-search-results #citi-search-form
{
	display: none;
}
#page { 
	overflow-y: visible; 
}

  .form-tools 
  {
    display: none;
	}
