


    .ajax_loader .pulse,
    .ajax_loader .double_pulse .double-bounce1, .ajax_loader .double_pulse .double-bounce2,
    .ajax_loader .cube,
    .ajax_loader .rotating_cubes .cube1, .ajax_loader .rotating_cubes .cube2,
    .ajax_loader .stripes > div,
    .ajax_loader .wave > div,
    .ajax_loader .two_rotating_circles .dot1, .ajax_loader .two_rotating_circles .dot2,
    .ajax_loader .five_rotating_circles .container1 > div, .ajax_loader .five_rotating_circles .container2 > div, .ajax_loader .five_rotating_circles .container3 > div,
	.loading-center-absolute .object,
	.indeterminate-holder .indeterminate{
    background-color: #e6ae48;
    }
	.ajax_loader .pulsating_circle,
	.ajax_loader .ripples .ripples_circle{
	border-color: #e6ae48;
	}
	.ajax_loader .spinner:before {
	border-top-color: #e6ae48;
	}
    body{
    	    	    	    	    }
            body,
		.wrapper,
        .content,
        .full_width,
		.content .container,
		.more_facts_holder{
        	background-color:#ffffff;
        }
        .wrapper{
    	 background-color:#ffffff;     }




	.content .content_inner > .container > .container_inner,
	.content .content_inner > .full_width > .full_width_inner{
		padding-top: 179px;
	}


	@media only screen and (max-width: 1000px){
		.content .content_inner > .container > .container_inner,
		.content .content_inner > .full_width > .full_width_inner,
		.content .content_inner > .container > .container_inner.default_template_holder{
			padding-top: 44px !important;
		}
	}	











.header_top{
	background-color: rgba(30,115,190,1);
}

			header:not(.sticky):not(.scrolled) .header_bottom .container_inner{
				border-bottom: 1px solid #000000;
			}
		
header.sticky .header_top{
	background-color: rgba(30,115,190,0.7);
}



			.content{
			margin-top: -141px;
		}
	
	.logo_wrapper,
	.side_menu_button,
	.shopping_cart_inner{
		height: 140px;
	}

			.content.content_top_margin{
			margin-top: 140px !important;
		}
		

	header:not(.centered_logo) .header_fixed_right_area {
	    line-height: 140px;
	}











	header.sticky .header_bottom,
	header.fixed.scrolled .header_bottom,
	header.fixed_hiding.scrolled .header_bottom{
		box-shadow: none; 
		-webkit-box-shadow: none;
	}


    @media only screen and (max-width: 1000px){
        .mobile_menu_button, .logo_wrapper, .side_menu_button, .shopping_cart_inner{
            height: 5pxpx !important;
        }
    }

        @media only screen and (min-width: 1000px){
            header.fixed_hiding .q_logo a,
            header.fixed_hiding .q_logo{
                max-height: 25px;
            }
        }
    



    .touch section.parallax_section_holder{
		height: auto !important;
		min-height: 300px;
		background-position: center top !important;
		background-attachment: scroll;
        background-size: cover;
	}
nav.main_menu > ul > li > a{
	line-height: 140px;
}




nav.main_menu > ul > li > a{
	 color: #393939; 		 font-size: 13px;     		 font-weight: 600; 		
	 letter-spacing: 0px; }



    nav.main_menu > ul > li:not(:first-child):before,
    header.stick_with_left_right_menu.sticky nav.main_menu.right_side > ul > li:not(:first-child):before{
         color: #393939;          font-size: 13px;     }




	.drop_down .wide .second .inner>ul>li>a{
			 font-size: 12px; 			font-weight: 600; 			}






	nav.mobile_menu ul li,
    nav.mobile_menu ul li.open_sub > ul{
		border-color: #81d742;
	}

	@media only screen and (max-width: 1000px){
		.header_bottom,
		nav.mobile_menu{
			background-color: #8224e3 !important;
		}
	}




	#respond textarea,
	#respond input[type='text'],
	.contact_form input[type='text'],
	.contact_form  textarea,
	.comment_holder #respond textarea,
	.comment_holder #respond input[type='text'],
	input.wpcf7-form-control.wpcf7-text,
	input.wpcf7-form-control.wpcf7-number,
	input.wpcf7-form-control.wpcf7-date,
	textarea.wpcf7-form-control.wpcf7-textarea,
	select.wpcf7-form-control.wpcf7-select,
	input.wpcf7-form-control.wpcf7-quiz{
		background-color: #f3f3f3; 					}

	#respond textarea:focus,
	#respond input[type='text']:focus,
	.contact_form input[type='text']:focus,
	.contact_form  textarea:focus,
	.comment_holder #respond textarea:focus,
	.comment_holder #respond input[type='text']:focus,
	input.wpcf7-form-control.wpcf7-text:focus,
	input.wpcf7-form-control.wpcf7-number:focus,
	input.wpcf7-form-control.wpcf7-date:focus,
	textarea.wpcf7-form-control.wpcf7-textarea:focus,
	select.wpcf7-form-control.wpcf7-select:focus,
	input.wpcf7-form-control.wpcf7-quiz:focus{
						border-color: #8f8d8d; 	}

	h2{
				font-size: 30px; 							    letter-spacing: 1px; 			}
	h2, h2 a{
			}		
	h3{
				font-family: 'Raleway', sans-serif;
				font-size: 22px; 				font-style: normal; 		font-weight: 400; 	    			}
	h3, h3 a{
			}
	h4{
				font-size: 15px; 						font-weight: 600; 	    letter-spacing: 0px; 		text-transform: none; 	}
	h4,	h4 a{
			}
	h5{
				font-size: 17px; 						font-weight: 500; 	    letter-spacing: 0px; 		text-transform: none; 	}
	h5,	h5 a{
			}
	h6{
				font-family: 'Raleway', sans-serif;
				font-size: 13px; 				font-style: normal;  		font-weight: 600; 		letter-spacing: 0px; 		text-transform: uppercase; 	}
	h6, h6 a{
			}






	blockquote h3, blockquote > p{
		font-family: Raleway, sans-serif;font-size: 17px;font-style: normal;color: #8b8b8b	}



	.title h1{
		color: #ffffff; 															}

	.subtitle{
    color: #ffffff;         font-size: 22px; 	    				
	}









	.blog_holder.masonry article:not(.format-quote):not(.format-link) h4, 
	.blog_holder.masonry_full_width article:not(.format-quote):not(.format-link) h4,
	.latest_post_holder .latest_post_title{
		font-size: 16px;font-weight: 500	}






	
	.blog_holder.masonry article .post_image a .post_overlay,
	.blog_holder.masonry_full_width article .post_image a .post_overlay,
	.latest_post_holder .boxes_image a .latest_post_overlay{
		background-color: rgba(57,57,57,1);
	}



	.blog_holder.masonry article .post_image a .icon_plus,
	.blog_holder.masonry_full_width article .post_image a .icon_plus,
	.latest_post_holder .latest_post_overlay .icon_plus{
		color: #ffffff;background-color: transparent	}








	.blog_holder article .post_info,
	.blog_holder.blog_chequered article .quote_author,
	.latest_post_holder .post_info_section span, .latest_post_holder .post_info_section a{
		font-family: Raleway, sans-serif;font-size: 14px;letter-spacing: 0px;font-weight: 400;font-style: normal	}






















































.separator.normal{
	border-color: #d0d0d0; }









    .q_social_icon_holder:hover .fa-stack{
				 background-color: #e6ae48 !important; 			}



	.qbutton,
	.qbutton.medium,
	#submit_comment,
	.load_more a,
	.blog_load_more_button a,
	.blog_holder article .post_text a.more-link span{
		color: #ffffff;border-color: #c1c1c1;background-color: #c1c1c1;	}
		.qbutton:hover,
	.qbutton:not(.white):hover,
	.qbutton.medium:hover,
	#submit_comment:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	.blog_holder article .post_text a.more-link:hover span{
	    color: #ffffff;background-color: #393939;border-color: #393939;	}
	
	#back_to_top > span{
		background-color: #585858;	}
	
	#back_to_top:hover > span{
		background-color: #737373;	}
	




	.single_tags a:hover, 
	aside.sidebar .widget:not(.woocommerce) .tagcloud a:hover,
	.widget .tagcloud a:hover{
		color: #8224e3	}


	.testimonials .testimonial_text_inner p:not(.testimonial_author):not(.testimonial_title){
		font-size: 22px	}

	.testimonials .testimonial_text_inner p.testimonial_author{
		font-size: 16px;letter-spacing: 1px	}






	.q_counter_holder span.counter{
			font-weight: 400; 		font-size: 40px; 		}




	.footer_top_holder{
		background-color:#ffffff;
	}

	.footer_top,
	.footer_top.footer_top_full{
		padding-top: 45px; 		padding-bottom: 53px; 	}


	.footer_top,
	.footer_top p,
    .footer_top span:not(.q_social_icon_holder):not(.fa-stack):not(.social_icon):not(.social_twitter):not(.q_font_elegant_icon),
    .footer_top li,
    .footer_top .textwidget,
    .footer_top .widget_recent_entries>ul>li>span{
		color: #7d7d7d	}



	.footer_bottom_holder{
		background-color:#ffffff;
	}

	
	.footer_bottom, 
	.footer_bottom span:not(.q_social_icon_holder):not(.fa-stack):not(.social_icon),
	.footer_bottom p{
		color: #7d7d7d	}



	.footer_top .widget h4 {
		font-size: 15px;letter-spacing: 0px;font-weight: 600;text-transform: none;color: #393939	}

	.footer_bottom { height: 66px; }




	aside.sidebar .widget h4,
	.woocommerce aside.sidebar .widget h4{
		letter-spacing: 0px	}

	aside.sidebar .widget:not(.woocommerce) a,
	.woocommerce aside.sidebar .woocommerce.widget ul.product-categories a,
	.woocommerce-page aside.sidebar .woocommerce.widget ul.product-categories a,
	.woocommerce aside.sidebar .woocommerce.widget ul.product-categories ul.children li a,
	aside ul.product-categories ul.children li a,
	.woocommerce-page aside.sidebar .woocommerce.widget ul.product-categories ul.children li a,
	aside.sidebar .widget.woocommerce ul.product-categories li a{
		font-family: Raleway, sans-serif;font-size: 13px;font-style: normal	}








	.side_menu  {
	text-align: left;
	}








	.blog_holder article.format-link .post_text .post_text_inner, 
	.blog_holder article.format-quote .post_text .post_text_inner{
		background-color: #f8f8f8;
	}
	.blog_holder.masonry article.format-quote  .post_text_inner .qoute_mark,
	.blog_holder.masonry article.format-link .post_text .post_text_inner .link_mark,
	.blog_holder.masonry_full_width article.format-quote .post_text .post_text_inner .qoute_mark,
	.blog_holder.masonry_full_width article.format-link .post_text .post_text_inner .link_mark,
	.blog_holder article.format-link .post_text .post_text_inner .post_social .post_comments i, 
	.blog_holder article.format-link .post_text .post_text_inner .post_social .blog_like i,
	.blog_holder article.format-link .post_text .post_text_inner .post_social .social_share_holder > a > i,
	.blog_holder article.format-quote .post_text .post_text_inner .post_social .post_comments i, 
	.blog_holder article.format-quote .post_text .post_text_inner .post_social .blog_like i,
	.blog_holder article.format-quote .post_text .post_text_inner .post_social .social_share_holder > a > i{
		color: #f8f8f8;
	}


	.blog_holder article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_holder.masonry article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_holder.masonry_full_width article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_single.blog_holder article.format-link .post_content, 
	.blog_single.blog_holder article.format-quote .post_content{
		background-color: transparent;
	}

	.blog_holder article:not(.format-link):not(.format-quote) .post_text .post_text_inner{
		padding: 45px 0 0;
	}

	.blog_holder.masonry article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_holder.masonry_full_width article:not(.format-link):not(.format-quote) .post_text .post_text_inner{
		padding: 25px 0 5px;
	}

	.blog_holder.blog_single article .post_text .post_text_inner {
		padding: 30px 0 0;
	}

	.blog_single.blog_holder article.format-link .post_content, 
	.blog_single.blog_holder article.format-quote .post_content {
		padding: 0;
	}

	.blog_holder.masonry article.format-quote .post_text_inner .qoute_mark, 
	.blog_holder.masonry article.format-link .post_text .post_text_inner .link_mark,
	.blog_holder.masonry_full_width article.format-link .post_text .post_text_inner .link_mark, 
	.blog_holder.masonry_full_width article.format-quote .post_text .post_text_inner .qoute_mark{
		display: none !important;
	}

	@media only screen and (min-width: 480px) and (max-width: 768px){
		.q_slider .carousel, .qode_slider_preloader, .carousel-inner>.item{
			height: 600px !important;
		}
	}

	@media only screen and (max-width: 480px){
		.q_slider .carousel, .qode_slider_preloader, .carousel-inner>.item{
			height: 600px !important;
		}
	}

    .carousel-control .prev_nav, .carousel-control .next_nav{ 
    	color: #000000;background-color: #dd9933;border-color: #000000; 
	}
    .carousel-control .prev_nav:hover, .carousel-control .next_nav:hover{ 
    	color: #8224e3;background-color: #81d742;border-color: #8224e3; 
	}
    .carousel-indicators li{ 
    	background-color: #1e73be; 
	}

    .carousel-inner .slider_content .slide_buttons_holder .qbutton:not(.white){ 
    	color: #dd3333 !important;border-color: #8224e3 !important; 
	}
    .carousel-inner .slider_content .slide_buttons_holder .qbutton.white{ 
    	color: #81d742 !important;border-color: #8224e3 !important; 
	}































	.projects_holder article .portfolio_description{
		background-color: #8224e3;
	}

	.projects_holder article .portfolio_description{
		background-color: transparent;
	}

	.projects_holder.standard article .portfolio_description, 
	.projects_holder.standard_no_space article .portfolio_description {
		padding-left: 0;
		padding-right: 0;
	}

	.masonry_with_space .projects_holder article .portfolio_description {
		padding: 35px 0 43px;
	}

	
    .projects_holder article .portfolio_shader, .projects_masonry_holder article .portfolio_shader, .portfolio_slides .portfolio_shader{
        background-color: rgba(57,57,57,1);
    }

		


    .portfolio_single.big-slider .portfolio_container, .portfolio_single.big-images .portfolio_container, .portfolio_single.gallery .portfolio_container{
        padding-left: 0px;
        padding-right: 0px;
    }








.filter_holder ul li.filter_title span{
	color: #7d7d7d;font-size: 13px;font-weight: 400;letter-spacing: 0px;text-transform: none;}

.filter_holder ul li:not(.filter_title) span{
color: #7d7d7d;font-size: 13px;font-weight: 400;letter-spacing: 0px;text-transform: none;    }
    .filter_holder ul li span:after{
        color: #7d7d7d;
    }

    .projects_holder.standard article .portfolio_title, .projects_holder.standard article .portfolio_title a, .projects_holder.standard_no_space article .portfolio_title, .projects_holder.standard_no_space article .portfolio_title a, .projects_holder .pinterest_info_on_hover .portfolio_title{
    	font-size: 14px;letter-spacing: 1px;text-transform: uppercase;    }
    
    .projects_holder.standard article .project_category, .projects_holder.standard_no_space article .project_category,.projects_holder.standard .pinterest_info_on_hover .project_category{
    font-family: Raleway;font-size: 14px;font-style: normal;font-weight: 400;text-transform: capitalize;    }
    
    .projects_holder.hover_text article .portfolio_title, .projects_masonry_holder article .portfolio_title, .portfolio_slides .portfolio_title{
    	color: #ffffff;font-size: 14px;font-weight: 600;letter-spacing: 0px;text-transform: uppercase;    }
    
    .projects_holder.hover_text article .project_category, .portfolio_slides .project_category, .projects_masonry_holder .project_category{
    font-family: Raleway;font-size: 12px;font-style: normal;font-weight: 400;letter-spacing: 0px;text-transform: capitalize;    }
    
    .projects_holder article .icons_holder a,
	.projects_masonry_holder article .icons_holder a,
	.portfolio_slides .icons_holder a{
		 color: #ffffff; 		 background-color: transparent; 		 border-color: transparent; 			}

    .projects_holder article .icons_holder a:hover,
	.projects_masonry_holder article .icons_holder a:hover,
	.portfolio_slides .icons_holder a:hover{
		 color: #ffffff; 		 background-color: transparent; 		 border-color: transparent; 	}







	.woocommerce input[type="text"]:not(.qode_search_field):not(.qty), .woocommerce-page input[type="text"]:not(.qode_search_field):not(.qty), .woocommerce input[type="email"],.woocommerce-page input[type="email"],.woocommerce-page input[type="tel"], .woocommerce textarea,.woocommerce-page textarea, .woocommerce input[type="password"], .woocommerce-page input[type="password"], .woocommerce .chosen-container.chosen-container-single .chosen-single, .woocommerce-page .chosen-container.chosen-container-single .chosen-single, .woocommerce-checkout .chosen-container.chosen-container-single .chosen-single, .woocommerce table.cart div.coupon .input-text, .woocommerce-page table.cart div.coupon .input-text, .woocommerce div.cart-collaterals .select2-container .select2-choice, .woocommerce-page div.cart-collaterals .select2-container .select2-choice, .woocommerce div.product .summary table.variations td.value select, .woocommerce-checkout .select2-container .select2-choice, .woocommerce-account .select2-container .select2-choice{
				border-color: #8f8d8d; 		color:#8f8d8d; 	}

	.woocommerce input[type="text"]:not(.qode_search_field):not(.qty), .woocommerce-page input[type="text"]:not(.qode_search_field):not(.qty), .woocommerce input[type="email"], .woocommerce-page input[type="email"],.woocommerce-page input[type="tel"], .woocommerce textarea, .woocommerce-page textarea, .woocommerce input[type="password"], .woocommerce-page input[type="password"], .woocommerce table.cart div.coupon .input-text, .woocommerce-page table.cart div.coupon .input-text, .select2-container .select2-choice, .woocommerce .chosen-container.chosen-container-single .chosen-single, .woocommerce-page .chosen-container.chosen-container-single .chosen-single, .woocommerce-checkout .chosen-container.chosen-container-single .chosen-single, .woocommerce select#pa_color, .woocommerce div.product .summary table.variations td.value select{
		border-width: 1px;
	}

	.woocommerce-page input[type="text"]::-webkit-input-placeholder,
	.woocommerce-page input[type="email"]::-webkit-input-placeholder,
	.woocommerce-page input[type="tel"]::-webkit-input-placeholder,
	.woocommerce-page textarea::-webkit-input-placeholder,
	.woocommerce-page input[type="password"]::-webkit-input-placeholder,
	.woocommerce table.cart div.coupon .input-text::-webkit-input-placeholder,
	.woocommerce-page table.cart div.coupon .input-text::-webkit-input-placeholder{
		color: #8f8d8d;
	}

	.woocommerce-page input[type="text"]:-moz-placeholder,
	.woocommerce-page input[type="email"]:-moz-placeholder,
	.woocommerce-page input[type="tel"]:-moz-placeholder,
	.woocommerce-page textarea:-moz-placeholder,
	.woocommerce-page input[type="password"]:-moz-placeholder,
	.woocommerce table.cart div.coupon .input-text:-moz-placeholder,
	.woocommerce-page table.cart div.coupon .input-text:-moz-placeholder{
		color: #8f8d8d;
	}

	.woocommerce-page input[type="text"]::-moz-placeholder,
	.woocommerce-page input[type="email"]::-moz-placeholder,
	.woocommerce-page input[type="tel"]::-moz-placeholder,
	.woocommerce-page textarea::-moz-placeholder,
	.woocommerce-page input[type="password"]::-moz-placeholder,
	.woocommerce table.cart div.coupon .input-text::-moz-placeholder,
	.woocommerce-page table.cart div.coupon .input-text::-moz-placeholder{
		color: #8f8d8d;
	}

	.woocommerce-page input[type="text"]:-ms-input-placeholder,
	.woocommerce-page input[type="email"]:-ms-input-placeholder,
	.woocommerce-page input[type="tel"]:-ms-input-placeholder,
	.woocommerce-page textarea:-ms-input-placeholder,
	.woocommerce-page input[type="password"]:-ms-input-placeholder,
	.woocommerce table.cart div.coupon .input-text:-ms-input-placeholder,
	.woocommerce-page table.cart div.coupon .input-text:-ms-input-placeholder{
		color: #8f8d8d;
	}

	.woocommerce input[type="text"]:not(.qode_search_field):not(.qty):focus,.woocommerce-page input[type="text"]:not(.qode_search_field):not(.qty):focus,
	.woocommerce input[type="email"]:focus,.woocommerce-page input[type="email"]:focus,
	.woocommerce-page input[type="tel"]:focus,
	.woocommerce textarea:focus,.woocommerce-page textarea:focus, 
	.woocommerce input[type="password"]:focus,.woocommerce-page input[type="password"]:focus,
	.woocommerce table.cart div.coupon .input-text:focus,.woocommerce-page table.cart div.coupon .input-text:focus{
		color: #ffffff; 		background-color: #8f8d8d; 		border-color: #8f8d8d; 	}

	.woocommerce-page input[type="text"]:focus::-webkit-input-placeholder,
	.woocommerce-page input[type="email"]:focus::-webkit-input-placeholder,
	.woocommerce-page input[type="tel"]:focus::-webkit-input-placeholder,
	.woocommerce-page textarea:focus::-webkit-input-placeholder,
	.woocommerce-page input[type="password"]:focus::-webkit-input-placeholder,
	.woocommerce table.cart div.coupon .input-text:focus::-webkit-input-placeholder,
	.woocommerce-page table.cart div.coupon .input-text:focus::-webkit-input-placeholder{
		color: #ffffff;
	}

	.woocommerce-page input[type="text"]:focus:-moz-placeholder,
	.woocommerce-page input[type="email"]:focus:-moz-placeholder,
	.woocommerce-page input[type="tel"]:focus:-moz-placeholder,
	.woocommerce-page textarea:focus:-moz-placeholder,
	.woocommerce-page input[type="password"]:focus:-moz-placeholder,
	.woocommerce table.cart div.coupon .input-text:focus:-moz-placeholder,
	.woocommerce-page table.cart div.coupon .input-text:focus:-moz-placeholder{
		color: #ffffff;
	}

	.woocommerce-page input[type="text"]:focus::-moz-placeholder,
	.woocommerce-page input[type="email"]:focus::-moz-placeholder,
	.woocommerce-page input[type="tel"]:focus::-moz-placeholder,
	.woocommerce-page textarea:focus::-moz-placeholder,
	.woocommerce-page input[type="password"]:focus::-moz-placeholder,
	.woocommerce table.cart div.coupon .input-text:focus::-moz-placeholder,
	.woocommerce-page table.cart div.coupon .input-text:focus::-moz-placeholder{
		color: #ffffff;
	}

	.woocommerce-page input[type="text"]:focus:-ms-input-placeholder,
	.woocommerce-page input[type="email"]:focus:-ms-input-placeholder,
	.woocommerce-page input[type="tel"]:focus:-ms-input-placeholder,
	.woocommerce-page textarea:focus:-ms-input-placeholder,
	.woocommerce-page input[type="password"]:focus:-ms-input-placeholder,
	.woocommerce table.cart div.coupon .input-text:focus:-ms-input-placeholder,
	.woocommerce-page table.cart div.coupon .input-text:focus:-ms-input-placeholder{
		color: #ffffff;
	}

	.woocommerce-page ul.products li.product, 
	.woocommerce ul.products li.product{
		text-align: left;
	}



	.woocommerce-page ul.products li.product .product_info_box,
	.woocommerce ul.products li.product .product_info_box{
		background-color: transparent !important;
		padding-left: 0;
		padding-right: 0;
	}


	.woocommerce ul.products li.product span.product-categories,
	.woocommerce-page ul.products li.product span.product-categories{
		display:none;
	}
	.woocommerce-page ul.products li.product .product_info_box,
	.woocommerce ul.products li.product .product_info_box{
		padding-top:18px;
	}

	.woocommerce ul.products li.product span.product-title,
	.woocommerce aside ul.product_list_widget li a,
	aside ul.product_list_widget li a{
		font-size: 16px;letter-spacing: 0px;font-weight: 500;text-transform: capitalize	}


	.woocommerce ul.products li.product .price, 
	.woocommerce-page ul.products li.product .price,
	.woocommerce ul.products li.product del .amount, .woocommerce-page ul.products li.product del .amount,
	.woocommerce aside ul.product_list_widget li span.amount, 
	aside ul.product_list_widget li span.amount{
		font-family: "Raleway", sans-serif;font-size: 15px;letter-spacing: 0px;font-weight: 600;font-style: normal	}


	.woocommerce .product .onsale.out-of-stock-button,
	.woocommerce ul.products.standard li.product .onsale.out-of-stock-button{
		font-family: Raleway, sans-serif;font-size: 12px;line-height: 18px;font-weight: 700;font-style: normal;text-transform: uppercase	}






	.woocommerce ul.products li.product .add-to-cart-button,
	.woocommerce ul.products li.product .added_to_cart,
	.woocommerce .widget_price_filter .button, 
	.woocommerce-page .widget_price_filter .button,
	.woocommerce .widget_shopping_cart_content p.buttons a.button,
	.woocommerce .button,
	.woocommerce-page .button,
	.woocommerce button.button,
	.woocommerce-page button.button,
	.woocommerce-page input[type="submit"]:not(.qode_search_field),
	.woocommerce input[type="submit"]:not(.qode_search_field),
	.woocommerce ul.products li.product .added_to_cart{
		color: #8f8d8d;background-color: transparent;border-width: 1px;border-color: #8f8d8d	}
	.woocommerce ul.products li.product a.add_to_cart_button:hover,
	.woocommerce-page ul.products li.product a.add_to_cart_button:hover,
	.woocommerce ul.products li.product .added_to_cart:hover,
	.woocommerce-page ul.products li.product .added_to_cart:hover,
	.woocommerce .widget_price_filter .button:hover, 
	.woocommerce-page .widget_price_filter .button:hover,
	.woocommerce .widget_shopping_cart_content p.buttons a.button:hover,
	.woocommerce .button:hover,
	.woocommerce-page .button:hover,
	.woocommerce button.button:hover,
	.woocommerce-page button.button:hover,
	.woocommerce #submit:hover,
	.woocommerce ul.products li.product a.qbutton:hover,
	.woocommerce-page ul.products li.product a.qbutton:hover,
	.woocommerce ul.products li.product .added_to_cart:hover,
	.woocommerce-page input[type="submit"]:not(.qode_search_field):hover,
	.woocommerce input[type="submit"]:not(.qode_search_field):hover{
		color: #ffffff;background-color: #8f8d8d;border-color: #8f8d8d	}




	.woocommerce div.product div.product_meta > span,
	.woocommerce div.product div.product_meta > .social_share_list_holder > span{
		letter-spacing: 0px	}
	
	
	.woocommerce div.product div.product_meta > span span,
	.woocommerce div.product div.product_meta > span a{
		font-family: Raleway, sans-serif;font-weight: 500;font-style: normal	}
	

	.woocommerce .product h2.product_title{
		font-size: 27px;letter-spacing: 0px;font-weight: 400;text-transform: capitalize	}


	.woocommerce.single-product button.single_add_to_cart_button{
		color: #8f8d8d;background-color: transparent;border-width: 1px;border-color: #8f8d8d	}
	.woocommerce.single-product button.single_add_to_cart_button:hover{
		color: #ffffff;background-color: #8f8d8d;border-color: #8f8d8d	}

	.woocommerce div.product .summary p.price span.amount{
		font-family: "Raleway", sans-serif;font-size: 21px;letter-spacing: 0px;font-weight: 600;font-style: normal	}

	

	.q_tabs.boxed.woocommerce-tabs .tabs-container,
	.q_tabs.boxed.woocommerce-tabs .tabs-container{
		padding:35px 0;
		background-color: transparent;
	}

	.woocommerce ul.products.standard li.product .qodef-product-standard-info-top .qodef-product-list-categories {
		display: none;
	}

































