/*EM calculator: http://riddle.pl/emcalc/
The base font for the site is 10px or x-small.  To calculate the padding, width, etc with ems, 
you have to base it off the font of that element, or the next containing element.

This page intentionally uses pixels instead of ems because we do not want the table or the images to be resized by the browser.
*/

/**
*DRUPAL EXHIBITION ARTWORK ILLUSTRATED LIST and TOOLS/RESOURCES ILLUSTRATED LISTS
**/
#citi-artwork-illustrated-list-form {
	margin: 0;
	padding: 0em 0em 0em 0em;
	width: 100%;
}
.illustratedlist, .resouce-thumbnail-list {
	float: left;
	width: 65.0em;
}
* html .illustratedlist {
margin-right: -1.0em
}
.artwork-thumb, .resouce-thumbnail-list li {
	float: left;
	margin: 0em 0em;
	width: 13.0em;
	height: 13.0em;
	min-height: 13.0em;
	display: block;
	/*vertical-align: middle;*/
}

#main #content .artwork-thumb img {
	float: none;
	display: block;
	margin: 0 0;
}
