/*EM calculator: http://riddle.pl/emcalc/
The base font for the site is 10px or x-small.  To calculate the padding, width, etc with ems, 
you have to base it off the font of that element, or the next containing element.

This page intentionally uses pixels instead of ems because we do not want the table or the images to be resized by the browser.
*/

/*
*Light green: #bacbc3
*Dark green: #84948a
*Orange: #BD8440
*
* colorpicker:
* Background/Header color/Messages/Artwork Horizontal rules: #bacbc3 (#003466)
* Body color/Button color/Exhibition Splash header color: #84948a (#ffffff)
* Exhibition splash background/Tab Active Background color/Heading text colors: #fff (#999999)
* Header bottom border/Active link/Sidebar Horizontal Rule: #bd8440 (#ffffff)
* Breadcrumb link color: #4B5650 (#003366)
* Tab Background color: #ebebeb (#ebebeb)
* Tab Hover Background color: #aaa ()
* Tab border: #999 (#999)
* Body text color: #000 (#000)
*
*THESE WILL BE THE DEFAULT VALUES
*/

body, .pager, .messages, .citi-messages {
	background-color: #003466;
}
.tabs-wrapper ul li a {
	background-color: #ebebeb;
}
.tabs-wrapper ul li a:hover {
	background-color: ;
}
#main, #edit-submit, #block-aicexhibitions-artwork_browser .content {
	background-color: #ffffff;
}

#column_container, #container, #sidebar-right { background-color: #003366; }

body.ntype-exhibition #header {
	background-color: #ffffff;
}

body.ntype-exhibition, body.ntype-exhibition #main, .tabs-wrapper ul li a.active {
	background-color: #ffffff;
}

#header {
	background-color: #003365;
}

#block-aicexhibitions-artwork_browser img {
	background-color: #003366;
}

.tooltip { background-color: #ffffff;}

#filterMenu { background-color: #a99b73; }

#galleryContent { background-color: #D7CFBC; }

/**
*FONT COLORS
**/
body, a, li.active, a:link, a:visited, #breadcrumb{
	color: #000;
}	
#breadcrumb .sel {
	color: #003366;
}

#sidebar-right li a.active, 
.tabs-wrapper ul li a.active {
	color: #ffffff;
}
#main #content  .bodycopy .right, 
#main #content  .bodycopy .right a, 
body.ntype-exhibition #main #content .content {
  color: #ffffff;
}
#sidebar-right .content,
#sidebar-right #hoverify-target div,
#sidebar-right .content a,
#sidebar-right li a, 
#sidebar-right li a.link, 
#sidebar-right li a.visited, 
#sidebar-right h2,
#hoverify-target .event-item a{
	color: #a99b73;
}
#breadcrumb a,
#block-aicexhibitions-artwork_browser .page-words a {
	color: #003366;
}

.messages, .citi-messages, .pager, #main #content .pager-list a, #edit-submit  {
	color: #999999;
}
h1 {
	color: #003366;
}
h3 {
	color: #a99b73;
}
.tooltip { color: #003366; }

ul#filters, a.filterLink, a:link.filterLink, a:visited.filterLink, #main #content ul.artistName li a:link, ul.artistName li a:visited, #main #content ul.typeName li a:link, #main #content ul.typeName li a:visited, #main #content #filters .tagName li a, a#resetBox:hover { color: #003366; }

#filters li .sub { border: 1px solid #003366; }

#filterMenu h3, #filterControls, #filterControls a:link, #filterControls a:visited, #filterControls a:hover, #filterControls a:active { color: #003366; }

ul#dateRange { color: #003366; }

.form form div.form-item label, .form #edit-submit { color: #003366;}

.form #edit-submit { border: 1px solid #003366;}

/*#main #content .bodycopy .left, #main #content .bodycopy .left a {
	color: #ffffff;
}

*/
/**
*BORDER COLORS
**/
#header {
	border-color:#a99b73;
}
#sidebar-right #block-menu_trim-475, #sidebar-right .block {
	border-color:#ffffff;
}

#edit-submit{
	border-color: #999999;
}
#artwork-body {
		border-color: #003466;
}
hr {
		border-color: #a99b73;
}
.tabs-wrapper ul, .tabs-wrapper ul li a {
	border-color: #999;
}
.form form div.form-item input, .form form div.form-item select {
 border-color: #003366; 
}
a#resetBox:link, a#resetBox:visited {
  border-color: #003366;
}
a#resetBox:hover {
  border-color: #003366;
}



